Need to create a csv file of sample data to be used in direct debit map project
Pulled only ny state address data from:
https://openaddresses.io/

I will take a random sample of this because it's too big to store.  Plus I want to make sure that the addresses are not all from the same area.

Will also need to add some names.  Pulled names from a name generator here:
http://homepage.net/name_generator/

In [50]:
import pandas as pd
import random

# Address Processing

In [51]:
addr_file_loc = 'C:/Users/Jonathan/DirectDebit/raw_data/'
addr_file_path = addr_file_loc + 'statewide.csv'
ouput_loc = 'C:/Users/Jonathan/DirectDebit/data/'

n = sum(1 for line in open(addr_file_path)) - 1 #number of records in file (excludes header)
s = 100
skip = sorted(random.sample(range(1,n+1),n-s))
df_addr = pd.read_csv(addr_file_path, skiprows=skip)

In [36]:
df_addr.to_csv(ouput_loc + 'address_clean.csv', sep=',')

In [52]:
df_addr.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,-78.963960,42.441394,11337,Dewey Road,NaN,Perrysburg,Cattaraugus,NY,NaN,CATT036895,e3b613190ea934d2
1,-78.252336,42.386628,8854,County Road 7E,NaN,Rushford,Allegany,NY,NaN,ALLE005555,88146015a1da33e6
2,-77.831374,42.559236,3467,Route 436,NaN,Ossian,Livingston,NY,NaN,LIVI008863,b2d5265bd565c8e1
3,-76.360721,42.367440,103,Grove School Road,NaN,Caroline,Tompkins,NY,NaN,TOMP012017,35107fb4aea327f6
4,-75.847634,42.929323,8,Fenner Street,Apartment 4,Cazenovia,Madison,NY,NaN,MADI033910,5a830dd90d716201

# Name Processing

In [53]:
name_file_loc = 'C:/Users/Jonathan/DirectDebit/data/'
name_file_path = name_file_loc + 'names_clean.csv'

In [54]:
df_name = pd.read_csv(name_file_path)

In [55]:
df_name.head()

  First_name Last_name                                  Email
0    Brandon    Newman   brandon.newman@directdebitsample.com
1    Dominic   Pullman  dominic.pullman@directdebitsample.com
2     Oliver    Murray    oliver.murray@directdebitsample.com
3    Rebecca    Tucker   rebecca.tucker@directdebitsample.com
4      Boris  Metcalfe   boris.metcalfe@directdebitsample.com

## Office location processing

In [56]:
office_file_loc = 'C:/Users/Jonathan/DirectDebit/raw_data/'
office_file_path = office_file_loc + 'statewide.csv'
n = sum(1 for line in open(addr_file_path)) - 1 #number of records in file (excludes header)
s = 100
skip = sorted(random.sample(range(1,n+1),n-s))
df_office = pd.read_csv(office_file_path, skiprows=skip)

In [57]:
list(df_office)

['LON',
 'LAT',
 'NUMBER',
 'STREET',
 'UNIT',
 'CITY',
 'DISTRICT',
 'REGION',
 'POSTCODE',
 'ID',
 'HASH']

In [58]:
df_office = df_office[["NUMBER", "STREET", "CITY", "REGION", "POSTCODE"]]
df_office.columns = ["OFFICE_NUMBER", "OFFICE_STREET", "OFFICE_CITY", "OFFICE_REGION", "OFFICE_POSTCODE"]
df_office.head()

,OFFICE_NUMBER,OFFICE_STREET,OFFICE_CITY,OFFICE_REGION,OFFICE_POSTCODE
0,366,West Main Street,Concord,NY,NaN
1,7327,Groveland Station Road,Groveland,NY,NaN
2,4,Ball Street,Barton,NY,NaN
3,28,Jackson Creek Road,Horseheads,NY,NaN
4,1718,Seneca Road,Lodi,NY,NaN

# Combine names, addresses, and office locations and save to folder

In [59]:
df_final_clean =pd.concat([df_name, df_addr, df_office], axis=1)

In [60]:
df_final_clean.head()

,First_name,Last_name,Email,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH,OFFICE_NUMBER,OFFICE_STREET,OFFICE_CITY,OFFICE_REGION,OFFICE_POSTCODE
0,Brandon,Newman,brandon.newman@directdebitsample.com,-78.963960,42.441394,11337,Dewey Road,NaN,Perrysburg,Cattaraugus,NY,NaN,CATT036895,e3b613190ea934d2,366,West Main Street,Concord,NY,NaN
1,Dominic,Pullman,dominic.pullman@directdebitsample.com,-78.252336,42.386628,8854,County Road 7E,NaN,Rushford,Allegany,NY,NaN,ALLE005555,88146015a1da33e6,7327,Groveland Station Road,Groveland,NY,NaN
2,Oliver,Murray,oliver.murray@directdebitsample.com,-77.831374,42.559236,3467,Route 436,NaN,Ossian,Livingston,NY,NaN,LIVI008863,b2d5265bd565c8e1,4,Ball Street,Barton,NY,NaN
3,Rebecca,Tucker,rebecca.tucker@directdebitsample.com,-76.360721,42.367440,103,Grove School Road,NaN,Caroline,Tompkins,NY,NaN,TOMP012017,35107fb4aea327f6,28,Jackson Creek Road,Horseheads,NY,NaN
4,Boris,Metcalfe,boris.metcalfe@directdebitsample.com,-75.847634,42.929323,8,Fenner Street,Apartment 4,Cazenovia,Madison,NY,NaN,MADI033910,5a830dd90d716201,1718,Seneca Road,Lodi,NY,NaN

In [64]:
ouput_loc = 'C:/Users/Jonathan/DirectDebit/data/'
df_final_clean.to_csv(ouput_loc + 'direct_debit_clean.csv', sep=',')