Need to create a csv file of sample data to be used in direct debit map project
Pulled only ny state address data from:
https://openaddresses.io/

I will take a random sample of this because it's too big to store.  Plus I want to make sure that the addresses are not all from the same area.

Will also need to add some names.  Pulled names from a name generator here:
http://homepage.net/name_generator/

In [34]:
import pandas as pd
import random

# Address Processing

In [35]:
addr_file_loc = 'C:/Users/Jonathan/DirectDebit/raw_data/'
addr_file_path = addr_file_loc + 'statewide.csv'
ouput_loc = 'C:/Users/Jonathan/DirectDebit/data/'

n = sum(1 for line in open(addr_file_path)) - 1 #number of records in file (excludes header)
s = 100
skip = sorted(random.sample(range(1,n+1),n-s))
df_addr = pd.read_csv(addr_file_path, skiprows=skip)

In [36]:
df_addr.to_csv(ouput_loc + 'address_clean.csv', sep=',')

In [37]:
df_addr.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,-77.716978,42.723047,6135,West Lake Road,NaN,Groveland,Livingston,NY,NaN,LIVI017568,b1632818c3836c3b
1,-77.603544,42.364774,2258,County Route 70A,NaN,Fremont,Steuben,NY,NaN,STEU023552,ce11d7ab023c7fcc
2,-76.495152,42.455408,509,Lake Street,Unit E6,Ithaca,Tompkins,NY,NaN,TOMP038695,00089082814cdd76
3,-77.650426,43.212123,3,Bonesteel Circle,Unit 3,Greece,Monroe,NY,NaN,MONR313161,b5f812a2285596b3
4,-77.618886,43.237209,222,Afton Street,NaN,Rochester,Monroe,NY,NaN,MONR049265,f66d324ff7ad33cc

# Name Processing

In [38]:
name_file_loc = 'C:/Users/Jonathan/DirectDebit/data/'
name_file_path = name_file_loc + 'names_clean.csv'

In [39]:
df_name = pd.read_csv(name_file_path)

In [40]:
df_name.head()

  First_name Last_name                                  Email
0    Brandon    Newman   brandon.newman@directdebitsample.com
1    Dominic   Pullman  dominic.pullman@directdebitsample.com
2     Oliver    Murray    oliver.murray@directdebitsample.com
3    Rebecca    Tucker   rebecca.tucker@directdebitsample.com
4      Boris  Metcalfe   boris.metcalfe@directdebitsample.com

## Office location processing

In [43]:
office_file_loc = 'C:/Users/Jonathan/DirectDebit/raw_data/'
office_file_path = office_file_loc + 'statewide.csv'
n = sum(1 for line in open(addr_file_path)) - 1 #number of records in file (excludes header)
s = 100
skip = sorted(random.sample(range(1,n+1),n-s))
df_office = pd.read_csv(office_file_path, skiprows=skip)

In [44]:
list(df_office)

['LON',
 'LAT',
 'NUMBER',
 'STREET',
 'UNIT',
 'CITY',
 'DISTRICT',
 'REGION',
 'POSTCODE',
 'ID',
 'HASH']

In [45]:
df_office = df_office[["NUMBER", "STREET", "CITY", "POSTCODE"]]
df_office.columns = ["OFFICE_NUMBER", "OFFICE_STREET", "OFFICE_CITY", "OFFICE_POSTCODE"]
df_office.head()

  OFFICE_NUMBER        OFFICE_STREET      OFFICE_CITY  OFFICE_POSTCODE
0           311  East Connell Street            Olean              NaN
1           179        Newman Street          Concord              NaN
2          9477  Foster Wheeler Road  North Dansville              NaN
3          1140      Sullivan Street           Elmira              NaN
4           231     Pritchard Avenue          Corning              NaN

# Combine names, addresses, and office locations and save to folder

In [47]:
df_final_clean =pd.concat([df_name, df_addr, df_office], axis=1)

In [48]:
df_final_clean.head()

,First_name,Last_name,Email,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH,OFFICE_NUMBER,OFFICE_STREET,OFFICE_CITY,OFFICE_POSTCODE
0,Brandon,Newman,brandon.newman@directdebitsample.com,-77.716978,42.723047,6135,West Lake Road,NaN,Groveland,Livingston,NY,NaN,LIVI017568,b1632818c3836c3b,311,East Connell Street,Olean,NaN
1,Dominic,Pullman,dominic.pullman@directdebitsample.com,-77.603544,42.364774,2258,County Route 70A,NaN,Fremont,Steuben,NY,NaN,STEU023552,ce11d7ab023c7fcc,179,Newman Street,Concord,NaN
2,Oliver,Murray,oliver.murray@directdebitsample.com,-76.495152,42.455408,509,Lake Street,Unit E6,Ithaca,Tompkins,NY,NaN,TOMP038695,00089082814cdd76,9477,Foster Wheeler Road,North Dansville,NaN
3,Rebecca,Tucker,rebecca.tucker@directdebitsample.com,-77.650426,43.212123,3,Bonesteel Circle,Unit 3,Greece,Monroe,NY,NaN,MONR313161,b5f812a2285596b3,1140,Sullivan Street,Elmira,NaN
4,Boris,Metcalfe,boris.metcalfe@directdebitsample.com,-77.618886,43.237209,222,Afton Street,NaN,Rochester,Monroe,NY,NaN,MONR049265,f66d324ff7ad33cc,231,Pritchard Avenue,Corning,NaN

In [49]:
ouput_loc = 'C:/Users/Jonathan/DirectDebit/data/'
df_final_clean.to_csv(ouput_loc + 'direct_debit_clean.csv', sep=',')