Need to create a csv file of sample data to be used in direct debit map project
Pulled only ny state address data from:
https://openaddresses.io/

I will take a random sample of this because it's too big to store.  Plus I want to make sure that the addresses are not all from the same area.

Will also need to add some names.  Pulled names from a name generator here:
http://homepage.net/name_generator/

In [14]:
import pandas as pd
import random

# Address Processing

In [36]:
addr_file_loc = 'C:/Users/Jonathan/DirectDebit/raw_data/'
addr_file_path = file_loc + 'statewide.csv'
n = sum(1 for line in open(addr_file_path)) - 1 #number of records in file (excludes header)
s = 100
skip = sorted(random.sample(range(1,n+1),n-s))
df_addr = pd.read_csv(addr_file_path, skiprows=skip)

In [39]:
df_addr.to_csv('address_clean.csv', sep=',')

In [40]:
df_addr.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,-78.268175,41.999993,231,State Route 417,NaN,Genesee,Allegany,NY,NaN,ALLE015411,7de24a64e25f5a9c
1,-78.957996,42.335671,7785,Mosher Hollow Road,NaN,Leon,Cattaraugus,NY,NaN,CATT032886,a441fcddf181fd56
2,-78.638224,42.414260,9591,Stady Road,NaN,Ashford,Cattaraugus,NY,NaN,CATT033515,10998098516d504d
3,-76.537013,42.109870,158,Dean Creek Road,Lot 1,Barton,Tioga,NY,NaN,TIOG025428,08503b1194162de2
4,-76.822009,42.155956,2149,Grand Central Avenue,NaN,Horseheads,Chemung,NY,NaN,CHEM003932,a96782ac238d35a1

# Name Processing

In [45]:
name_file_loc = 'C:/Users/Jonathan/DirectDebit/data/'
name_file_path = name_file_loc + 'names_clean.csv'

In [46]:
df_name = pd.read_csv(name_file_path)

In [47]:
df_name.head()

  First_name Last_name                                  Email
0    Brandon    Newman   brandon.newman@directdebitsample.com
1    Dominic   Pullman  dominic.pullman@directdebitsample.com
2     Oliver    Murray    oliver.murray@directdebitsample.com
3    Rebecca    Tucker   rebecca.tucker@directdebitsample.com
4      Boris  Metcalfe   boris.metcalfe@directdebitsample.com

# Combine names & addresses and save to folder

In [48]:
df_final_clean =pd.concat([df_name, df_addr], axis=1)

In [49]:
df_final_clean.head()

,First_name,Last_name,Email,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,Brandon,Newman,brandon.newman@directdebitsample.com,-78.268175,41.999993,231,State Route 417,NaN,Genesee,Allegany,NY,NaN,ALLE015411,7de24a64e25f5a9c
1,Dominic,Pullman,dominic.pullman@directdebitsample.com,-78.957996,42.335671,7785,Mosher Hollow Road,NaN,Leon,Cattaraugus,NY,NaN,CATT032886,a441fcddf181fd56
2,Oliver,Murray,oliver.murray@directdebitsample.com,-78.638224,42.414260,9591,Stady Road,NaN,Ashford,Cattaraugus,NY,NaN,CATT033515,10998098516d504d
3,Rebecca,Tucker,rebecca.tucker@directdebitsample.com,-76.537013,42.109870,158,Dean Creek Road,Lot 1,Barton,Tioga,NY,NaN,TIOG025428,08503b1194162de2
4,Boris,Metcalfe,boris.metcalfe@directdebitsample.com,-76.822009,42.155956,2149,Grand Central Avenue,NaN,Horseheads,Chemung,NY,NaN,CHEM003932,a96782ac238d35a1

In [50]:
df_final_clean.to_csv('direct_debit_clean.csv', sep=',')